<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--{% for i in task %}-->
<!--{{i.name}}-->
<!--{{i.desc}}-->
<!--{{i.year}}-->
<!--{{i.img.url}}-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->
<!--<form method="POST" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    {{form.as_p}}-->
<!--    <input type="submit">-->
<!--</form>-->
{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
        {{i.name}}
        {{i.desc}}
        {{i.year}}
        {{i.img.url}}
        {% endfor %}
    </div>
</div>

{% endblock %}